.form {
  padding: 10px;
}

.main {
  background-color: cornsilk;
  justify-content: center;
  align-items: center;
}

.table {
  justify-content: space-between;
  align-items: baseline;
}

.form {
  padding: 20px;
  justify-content: space-evenly;
  break-after: always;
}

.input {
  padding: 10;
  margin: 10;
}
.btn {
  background-color: indigo;
  color: white;
  padding: 8;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}
